extends layout

block content
  h1 MCU Sample
  p.lead Create or join a meeting room with live video
  hr
  .row
    .col-sm-6
      h2 Create new room
      form(name='create',action='/room',method='post')
        input(type='hidden', name='_csrf', value=_csrf)
        p
          a#create.btn.btn-default(href='#', role='button') Create »
    .col-sm-6
      h2 Join existing room
      form(name='join',method='get')
          input(type='hidden', name='_csrf', value=_csrf)
          p
            div.input-group
              input.form-control(type="text", placeholder="Room number", name='room')
          p
            a#join.btn.btn-default(href='#', role='button') Join »

block script
  script.
    $("#create").click(function() {
      var form = document.create;
      form.submit();
    });
    $("#join").click(function() {
      var form = document.join;
      form.action = '/room/'+form.room.value;
      form.submit();
    });
