doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title #{title}
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')

  body
    include partials/header

    block scripts
      script(src='/js/lib/jquery-2.2.0.min.js')
      script(src='/js/lib/bootstrap.min.js')
      script(src='/js/lib/lodash.min.js')

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/main.js')

    // Google Analytics: change UA-XXXXX-X to be your site's ID
        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-XXXXX-X', 'auto');
          ga('send', 'pageview');

    block script
