<script type="text/template" id="video-list-template">
    <div class="video-self" id="video-self"></div><!--
    --><div class="video-bar" id="video-bar">
        <div class="spacer-arrow spacer-left"></div><div class="control-arrow" id="video-left"><div class="left-arrow control-arrow disabled"></div></div><!--
        --><div class="video-list-wrap" id="video-list-wrap">
            <div class="video-list" id="video-list"></div>
        </div><!--
        --><div class="control-arrow" id="video-right"><div class="right-arrow control-arrow disabled"></div></div><div class="spacer-arrow spacer-right"></div>
    </div>
</script>

<script type="text/template" id="video-template"><!--
--><div class="video-container <%= type %> <%= hasCamera ? 'webcam' : 'nowebcam' %> guest-<%= guestId %>" id="vcont_<%= id %>">
    <div class="video-volume" id="volume_<%= id %>"></div>
    <div class="video-overlay inner-border">
        <div class="video-reconnect"><span class="hide-narrow">Internet connection lost<br></span>Reconnecting...</div>
        <% if (controller) { %>
        <div class="video-controls" data-id="<%= id %>">
            <div class="video-media-controls">
                <div id="video_expand_<%= id %>" class="video-control expand-button"></div>
                <div id="video_mute_<%= id %>" class="video-control mic-button"></div>
                <div id="video_pause_<%= id %>" class="video-control pause-button"></div>
            </div>
        </div>
        <% } else { %>
        <div class="video-controls" data-id="<%= id %>">
            <div class="video-media-controls">
                <div id="video_pause_<%= id %>" class="video-control pause-button"></div>
            </div>
        </div>
        <% } %>
        <div id="video_status_<%= id %>" class="video-status"></div>
        <div class="video-title"><%= name %></div>
    </div>
    <div class="video-static">
        <% if (avatar) { %><div class="static-avatar static" style="background-image: url({/literal}{$Site_URL}{literal}general/vparty_images/<%= avatar %>);"> <% } %>
    </div>
</div><!--
--></script>
