extends ../layout

block append scripts
  script(src='/js/mcu.js')
  script(src='/js/video.js')

block content
  include ../html/templates.html

  .page-header
    h3 Room

  #room-container(class=room-container)
    #activity-container(class=activity-container style={'background-color': '#eae7e1'})
    #video-container(class=video-container)

  script.
    var context = {
      token: '#{ token }',
      guestId: '#{ guestId }',
      displayName: 'test',
      options: {}
    };

    function initialize() {
      video.init({
        token: context.token,
        myVideoId: "myVideo",
        videoContainerId: "video-container",
        guestId: context.guestId,
        displayName: context.displayName,
        options: context.options,
        video: true, audio: true, media: true,
        size: "normal"
      });

      video.on('initialized', function() {
        video.start();
      });
    }

    $(document).ready(function() {
      initialize(context);
    });
